<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Leena Card - Purchase</title>
    </head>
    <body>
        Hi<br/>
        <br/>
        User <%=payload.name%> bought below card from leena cards<br/>
        <br/>
        Card Name: <%=payload.cardName%><br/>
        <br/>
        Card SKU: <%=payload.sku%><br/>
        <br/>
        Quantity: <%=payload.quantity%><br/>
        <br/>
        Thanks<br/>
        <br/>
    </body>
</html>