<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Leena Card - Adding Balance Limit</title>
    </head>
    <body>
        Dear Customer <br/>
        <br/>
        Thanks for your purchase<br/>
        <br/>
        For security purpose, please send the below documents by email reply as soon as possible<br/>
        <br/>
        Required documents:<br/>
        <br/>
        Civil ID front and back copy<br/>
        Bank card copy (should be same as used to purchase)<br/>
        Your full physical address<br/>
        <br/>
        As soon as we verify your purchase, your account will be activated<br/>
        <br/>
        Thanks for your co-operation<br/>
        <br/>
        Best Regards<br/>
        <br/>
        Leena Card<br/>
    </body>
</html>